<a href="https://colab.research.google.com/github/AnmolKaushik03/Assignment-01-Python-Assignment/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python Assignment**

**Q1. L is a list defined as L= [11, 12, 13, 14].**

In [1]:
# (i) Add 50 and 60 to L
L = [11, 12, 13, 14]
L.append(50)
L.append(60)
print("List after adding 50 and 60:", L)

List after adding 50 and 60: [11, 12, 13, 14, 50, 60]

In [2]:
# (ii) Remove 11 and 13 from L
L.remove(11)
L.remove(13)
print("List after removing 11 and 13:", L)

List after removing 11 and 13: [12, 14, 50, 60]

In [3]:
# (iii) Sort L in ascending order
L.sort()
print("List sorted in ascending order:", L)

List sorted in ascending order: [12, 14, 50, 60]

In [4]:
# (iv) Sort L in descending order
L.sort(reverse=True)
print("List sorted in descending order:", L)

List sorted in descending order: [60, 50, 14, 12]

In [5]:
# (v) Search for 13 in L
if 13 in L:
    print("13 is present in the list.")
else:
    print("13 is not present in the list.")

13 is not present in the list.

In [6]:
# (vi) Count the number of elements present in L
count = len(L)
print("Number of elements in the list:", count)

Number of elements in the list: 4

In [7]:
# (vii) Sum all the elements in L
sum_all = sum(L)
print("Sum of all elements in the list:", sum_all)

Sum of all elements in the list: 136

In [8]:
# (viii) Sum all ODD numbers in L
sum_odd = sum([num for num in L if num % 2 != 0])
print("Sum of all odd numbers in the list:", sum_odd)

# (ix) Sum all EVEN numbers in L
sum_even = sum([num for num in L if num % 2 == 0])
print("Sum of all even numbers in the list:", sum_even)

# (x) Sum all PRIME numbers in L
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

sum_prime = sum([num for num in L if is_prime(num)])
print("Sum of all prime numbers in the list:", sum_prime)

# (xi) Clear all the elements in L
L.clear()
print("List after clearing all elements:", L)

# (xii) Delete L
del L
print("List deleted.")

Sum of all odd numbers in the list: 0
Sum of all even numbers in the list: 136
Sum of all prime numbers in the list: 0
List after clearing all elements: []
List deleted.

**Q2. D is a dictionary defined as D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}.**

In [9]:
# (i) Add new entry in D; key=8 and value is 8.8
D = {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7}
D[8] = 8.8
print("Dictionary after adding new entry:", D)


# (ii) Remove key=2
del D[2]
print("Dictionary after removing key=2:", D)


# (iii) Check whether key=6 is present in D
if 6 in D:
    print("Key 6 is present in the dictionary.")
else:
    print("Key 6 is not present in the dictionary.")


# (iv) Count the number of elements present in D
count = len(D)
print("Number of elements in the dictionary:", count)


# (v) Add all the values present in D
sum_values = sum(D.values())
print("Sum of all values in the dictionary:", sum_values)


# (vi) Update the value of key=3 to 7.1
D[3] = 7.1
print("Dictionary after updating value of key=3:", D)


# (vii) Clear the dictionary
D.clear()
print("Dictionary after clearing all elements:", D)

Dictionary after adding new entry: {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}
Dictionary after removing key=2: {1: 5.6, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}
Key 6 is not present in the dictionary.
Number of elements in the dictionary: 5
Sum of all values in the dictionary: 37.4
Dictionary after updating value of key=3: {1: 5.6, 3: 7.1, 4: 8.7, 5: 7.7, 8: 8.8}
Dictionary after clearing all elements: {}

**Q3. S1 is a set defined as S1= [10, 20, 30, 40, 50, 60].**

**S2 is a set defined as S2= [40, 50, 60, 70, 80, 90].**

In [11]:
S1 = {10, 20, 30, 40, 50, 60}
S2 = {40, 50, 60, 70, 80, 90}

# (i) Add 55 and 66 in Set S1

S1.add(55)
S1.add(66)
print("Set S1 after adding 55 and 66:", S1)


# (ii) Remove 10 and 30 from Set S1
S1.remove(10)
S1.remove(30)
print("Set S1 after removing 10 and 30:", S1)


# (iii) Check whether 40 is present in S1
if 40 in S1:
    print("40 is present in Set S1.")
else:
    print("40 is not present in Set S1.")


# (iv) Find the union between S1 and S2

union_set = S1.union(S2)
print("Union of Set S1 and S2:", union_set)


# (v) Find the intersection between S1 and S2
intersection_set = S1.intersection(S2)
print("Intersection of Set S1 and S2:", intersection_set)


# (vi) Find S1 - S2
difference_set = S1 - S2
print("Set S1 - S2:", difference_set)

Set S1 after adding 55 and 66: {50, 66, 20, 55, 40, 10, 60, 30}
Set S1 after removing 10 and 30: {50, 66, 20, 55, 40, 60}
40 is present in Set S1.
Union of Set S1 and S2: {66, 70, 40, 80, 50, 20, 55, 90, 60}
Intersection of Set S1 and S2: {40, 50, 60}
Set S1 - S2: {66, 20, 55}

**Q4. Write the following program.**

In [ ]:
import random

# (i) Print 100 random strings whose length is between 6 and 8
for _ in range(100):
    string_length = random.randint(6, 8)
    random_string = ''.join(random.choices('abcdefghijklmnopqrstuvwxyz', k=string_length))
    print(random_string)

In [ ]:
# (ii) Print all prime numbers between 600 and 800
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

for num in range(600, 801):
    if is_prime(num):
        print(num)

In [18]:
# (iii) Print all numbers between 100 and 1000 that are divisible by 7 and 9
for num in range(100, 1001):
    if num % 7 == 0 and num % 9 == 0:
        print(num)

126
189
252
315
378
441
504
567
630
693
756
819
882
945

**Q5. WAP to create two lists of 10 random numbers between 10 and 30; Find**

In [19]:
import random

# Create two lists of 10 random numbers between 10 and 30
list1 = random.sample(range(10, 31), 10)
list2 = random.sample(range(10, 31), 10)

print("List 1:", list1)
print("List 2:", list2)

# (i) Find common numbers in the two lists
common_numbers = set(list1) & set(list2)
print("Common numbers:", common_numbers)

# (ii) Find unique numbers in both lists
unique_numbers = set(list1) ^ set(list2)
print("Unique numbers:", unique_numbers)

# (iii) Find the minimum in both lists
minimum_list1 = min(list1)
minimum_list2 = min(list2)
print("Minimum in List 1:", minimum_list1)
print("Minimum in List 2:", minimum_list2)

# (iv) Find the maximum in both lists
maximum_list1 = max(list1)
maximum_list2 = max(list2)
print("Maximum in List 1:", maximum_list1)
print("Maximum in List 2:", maximum_list2)

# (v) Find the sum of both lists
sum_lists = sum(list1) + sum(list2)
print("Sum of both lists:", sum_lists)

List 1: [12, 23, 29, 18, 20, 26, 13, 11, 27, 16]
List 2: [23, 15, 22, 24, 28, 13, 17, 26, 20, 29]
Common numbers: {13, 20, 23, 26, 29}
Unique numbers: {11, 12, 15, 16, 17, 18, 22, 24, 27, 28}
Minimum in List 1: 11
Minimum in List 2: 13
Maximum in List 1: 29
Maximum in List 2: 29
Sum of both lists: 412

**Q6. WAP to create a list of 100 random numbers between 100 and 900. Count and print the:**

In [20]:
import random

# Create a list of 100 random numbers between 100 and 900
numbers_list = random.sample(range(100, 901), 100)

# (i) Count and print all odd numbers
odd_numbers = [num for num in numbers_list if num % 2 != 0]
print("Odd numbers:", odd_numbers)
print("Count of odd numbers:", len(odd_numbers))

# (ii) Count and print all even numbers
even_numbers = [num for num in numbers_list if num % 2 == 0]
print("Even numbers:", even_numbers)
print("Count of even numbers:", len(even_numbers))

# (iii) Count and print all prime numbers
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

prime_numbers = [num for num in numbers_list if is_prime(num)]
print("Prime numbers:", prime_numbers)
print("Count of prime numbers:", len(prime_numbers))

Odd numbers: [639, 353, 479, 111, 833, 259, 225, 637, 513, 533, 293, 115, 515, 689, 557, 497, 623, 611, 821, 511, 567, 327, 737, 827, 217, 817, 683, 777, 247, 583, 367, 219, 253, 249, 311, 789, 469, 677, 699, 441, 887, 661, 735, 171, 763, 865, 579, 813, 571, 569, 421, 753]
Count of odd numbers: 52
Even numbers: [684, 602, 542, 330, 456, 634, 322, 104, 590, 306, 366, 552, 300, 796, 716, 526, 610, 792, 814, 824, 242, 788, 768, 530, 600, 200, 860, 732, 806, 736, 240, 490, 432, 596, 448, 862, 272, 442, 170, 356, 742, 762, 160, 194, 766, 822, 478, 628]
Count of even numbers: 48
Prime numbers: [353, 479, 293, 557, 821, 827, 683, 367, 311, 677, 887, 661, 571, 569, 421]
Count of prime numbers: 15

**Q7. D is a dictionary defined as D={1:"One",2:"Two",3:"Three",4:"Four", 5:"Five"}.**

In [21]:
#WAP to read all the keys and values from dictionary and write to the file in the given below format.
D = {1: "One", 2: "Two", 3: "Three", 4: "Four", 5: "Five"}


with open("dictionary_output.txt", "w") as file:
    
    for key, value in D.items():
        
        file.write(f"{key}, {value}\n")

print("Data written to the file successfully.")

Data written to the file successfully.

**Q8. L is a list defined as L={"One","Two","Three","Four","Five"}**

In [22]:
#WAP to count the length of reach element from a list and write to the file in the given below format:
L = ["One", "Two", "Three", "Four", "Five"]


with open("list_length_output.txt", "w") as file:
    
    for element in L:
        
        length = len(element)
        
        file.write(f"{element}, {length}\n")

print("Data written to the file successfully.")

Data written to the file successfully.

**Q9. Write to the file 100 random strings whose length between 10 and 15**

In [23]:
import random
import string


with open("random_strings.txt", "w") as file:
    
    for _ in range(100):
        string_length = random.randint(10, 15)
        random_string = ''.join(random.choices(string.ascii_lowercase, k=string_length))
        file.write(random_string + "\n")

print("Random strings written to the file successfully.")

Random strings written to the file successfully.

**Q10. Write to the file all prime numbers between 600 and 800.**

In [24]:
# Function to check if a number is prime
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            return False
    return True


with open("prime_numbers.txt", "w") as file:
    
    for num in range(600, 801):
        if is_prime(num):
            
            file.write(str(num) + "\n")

print("Prime numbers written to the file successfully.")

Prime numbers written to the file successfully.